{% extends "ledger/base.html" %}
{% block title %}{{ recipe.name }} - Recipe Book{% endblock %}

{% block content %}

<form method="POST" action="{% url 'logout' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Logout</button>
</form>

<a href="{% url 'add_recipe_image' recipe.id %}">Upload image</a>

<h1>{{ recipe.name }}</h1>
<h2>by {{recipe.author}} </h2>

<!-- IMAGE IN RECIPE -->

{% if recipe.images.all %}
    {% for image in recipe.images.all %}
        <img src="{{ image.image.url }}" alt="{{ image.description }}">
    {% endfor %}
{% else %}
    <p>no images</p>
{% endif %}

<ul>
    {% for ingredient in recipe.ingredients.all %}
        <li>{{ ingredient.ingredient.name }}: {{ ingredient.quantity }}</li> 
    {% endfor %}
</ul>

<a href="{% url 'recipe_list' %}">Back to all recipes</a> {# Correct URL name #}
{% endblock %}
